<div class="jumbotron">
    <h1>Zinc</h1>
    <p class="lead">A texting calender to notify you and your family of the events in your life.</p>
    <p>You're invited to events, but you forgot to save them in your calendar. And now you might not be able to go.</p>
    <p>Zinc was created to help with that, you can create events or reminders and a text will be sent to your phone.</p>
</div>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>
